/* General adjustment */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bank {
  margin: auto;
  width: 100%;
}
.title {
  grid-area: title;
  width: 400%;
  font-size: 150%;
  font-weight: bold;
}
.button {
  border-radius: 5px;
  border: none;
  padding: 15px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Banner */
.banner {
  width: 100%;
  height: 5rem;
  background-color: rgb(58, 58, 58);
  color: white;
}
h1 {
  margin-top: 0%;
  padding-top: 1.2rem;
  padding-left: 34rem;
}

/* Sections */
.giga-section {
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.section {
  background-color: rgb(247, 247, 247);
  width: 200px;
  height: 200px;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
}
.bank-section {
  grid-template-areas:
    "title              title             title             title"
    "balance            balance           current-balance   current-balance"
    "loan               loan              current-loan      current-loan"
    "get-a-loan-button  get-a-loan-button get-a-loan-button get-a-loan-button";
}
.work-section {
  grid-template-areas:
    "title              title             title             title"
    "salary             salary            current-salary    current-salary"
    "repay-loan-button  repay-loan-button repay-loan-button repay-loan-button"
    "bank-button        bank-button       work-button       work-button";
}
.select-laptop-section {
  grid-template-areas:
    "title          title         title         title"
    "select-laptop  select-laptop select-laptop select-laptop"
    "features       features      features      features"
    "specs          specs         specs         specs";
}
.buy-now-section {
  width: 800px;
  margin-top: 50px;
  grid-template-columns: repeat(16, 50px);
  grid-template-areas:
    "image  image image image . title       title       title       title       . . price           price           price           price           ."
    "image  image image image . title       title       title       title       . . price           price           price           price           ."
    "image  image image image . description description description description . . buy-now-button  buy-now-button  buy-now-button  buy-now-button  ."
    "image  image image image . description description description description . . buy-now-button  buy-now-button  buy-now-button  buy-now-button  .";
}

/* Account name section */
.balance {
  grid-area: balance;
  margin-top: 10px;
}
.current-balance {
  grid-area: current-balance;
  margin-top: 10px;
  text-align: right;
}
.loan {
  grid-area: loan;
  margin-top: -10px;
}
.current-loan {
  grid-area: current-loan;
  margin-top: -10px;
  text-align: right;
}
.get-a-loan-button {
  grid-area: get-a-loan-button;
  background-color: #1de6a3;
}

/* Work section */
.salary {
  grid-area: salary;
  margin-top: 10px;
}
.current-salary {
  grid-area: current-salary;
  margin-top: 10px;
  text-align: right;
}
.bank-button {
  grid-area: bank-button;
  background-color: yellow;
  width: 90%;
  margin-right: 10px;
}
.work-button {
  grid-area: work-button;
  background-color: blue;
  color: aliceblue;
  width: 90%;
  margin-left: 10px;
}
.repay-loan-button {
  grid-area: repay-loan-button;
  background-color: coral;
  margin-top: -10px;
}

/* Laptops section */
.select-laptop-section {
  grid-area: select-laptop;
}
select {
  width: 400% !important;
}
.features {
  grid-area: features;
  font-weight: bold;
  text-align: start;
  margin-top: 10px;
}
.specs {
  grid-area: specs;
  padding-left: 0%;
  margin-top: -20px;
  font-size: 75%;
}
ul {
  padding-left: 0%;
}

/* Buy now section */
.image {
  grid-area: image;
}
.name {
  font-size: 200%;
  margin-bottom: 10%;
}
.description {
  grid-area: description;
  margin-top: 0%;
}
.price {
  grid-area: price;
  font-size: 180%;
  margin-bottom: 10%;
  text-align: center;
  font-weight: 500;
}
.buy-now-button {
  grid-area: buy-now-button;
}
